body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, small, u, i, center, dl, dt, dd, ol, ul, li,  sub, sup, tt, var, del, dfn,  ins, kbd, q, s, samp,  strike, applet, object, iframe, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, blockquote, pre, a, abbr, acronym, address, big, cite, code, mark, audio, video, input, textarea, select { margin:0; padding:0;}

ul,ol,li,dl{
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
a,
a:visited,
a:active,
a:hover,
a:focus { 
	text-decoration:none!important; 
	outline:none; 
}
a {
  color: #666;
}
.section1, .section2 {
  padding: 72px 0;
}

@media screen and (max-width:1200px){
  .container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.plan-form {
  padding-top: 50px;
  h2 {
    font-size: 24px;
    color: #333;
  }
  .item {
    margin-top: 30px;
    display: flex;
    position: relative;
    .text {
      width: 88px;
      text-align: right;
      line-height: 50px;
      font-size: 16px;
      color: #333;
      span {
        color: #FF5001;
      }
    }
    input {
      width: 520px;
      height: 50px;
      background-color: #eee;
      border: none;
      text-indent: 10px;
      font-size: 16px;
      outline: none;
    }
  }
}

.input-error {
  position: absolute;
  left: 88px;
  top: 50px;
  color: #FF5001;
  font-size: 14px;
}

.get-code {
  width: 146px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #FF5001;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s linear;
  position: absolute;
  right: 0;
  top: 0;
  &:hover{
    opacity: 0.8;
  }
  &::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 24px;
    background-color: #999;
    left: 0;
    top: 13px;
  }
}
.plan-btn {
  width: 240px;
  height: 50px;
  background-color: #FF5001;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  margin: 40px 0 0 232px;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover{
    opacity: 0.8;
  }
}

.saas-tab {
  background-color: #fbfbfb;
  .container {
    display: flex;
    justify-content: center;
  }
  .item {
    height: 60px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 16px;
    margin: 0 87px;
    cursor: pointer;
    transition: all 0.3s linear;
    font-weight: bold;
    padding: 0 22px;
    position: relative;
  }
  .active {
    color: #FF5001;
    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #FF5001;
      left: 0;
      bottom: 0;
    }
  }
}

.dialog {
  position: fixed;
  z-index: 199;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0,0,0,.6);
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  display: none;
  opacity: 0;
  text-align: center;
}
.show-dialog {
  display: block;
  animation: show 2.5s;
}
@keyframes show {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
.common-title{
  position: relative;
  .en{
    font-size: 32px;
    background: linear-gradient(180deg, #EEEEEE 0%, rgba(216, 216, 216, 0) 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -22px;
    display: none;
  }
  .name{
    position: relative;
    z-index: 2;
  }
}
.code-disable{
  color: #C6C8D0;
}
.van-toast{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  .plan-btn{
    margin: 40px auto 0;
  }
  .plan-form .item input {
    width: 440px;
  }
  .plan .plan-form h2 {
    padding-top: 0;
  }
}

@media screen and (max-width:640px){
  .plan-form .item input{
    width: 1px;
  }
  .container{
    padding: 0 12px;
  }
  .plan-form{
    padding-top: 26px;
    width: 100%;
    h2{
      font-size: 14px;
      text-align: left;
    }
    .item{
      height: 40px;
      margin-top: 24px;
      .text{
        width: 78px;
        font-size: 14px;
        line-height: 40px;
      }
      input{
        flex-grow: 1;
        height: 40px;
        font-size: 14px;
        background-color: #fff;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
      }
    }
  }
  .input-error{
    top: 42px;
    font-size: 12px;
    left: 78px;
  }
  .get-code{
    width: 88px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    &::before{
      height: 24px;
      top: 8px;
      background-color: #ddd;
    }
  }
  .plan-btn{
    width: 100%;
    height: 40px;
    margin: 22px auto 0;
    background-color: #FF5001;
    line-height: 40px;
    font-size: 14px;
  }
  .saas-tab{
    display: none;
  }
  .mobile-second-nav{
    ul{
      display: flex;
      border-bottom: 1PX solid #DFDFDF;
      li{
        width: 50%;
        font-size: 12px;
        text-align: center;
        line-height: 36px;
        font-weight: bold;
        a{
          color: #222;
        }
      }
      .active{
        position: relative;
        a{
          color: #FF5001;
        }
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 2PX;
          left: 0;
          bottom: -1px;
          background-color: #FF5001;
        }
      }
    }
  }
  .common-title{
    .en{
      display: block;
    }
  }
}